@page "/Projects"
@using HomePage.Data
@using HomePage.Enums
@using HomePage.Models
@using Octokit

@inject ProjectContainer Container
@inject IJSRuntime JsRuntime


    <MudPaper Class="ma-2 ma-md-10 pa-4 pa-md-15" Elevation="5">
        <MudStack>
            <MudText Typo="Typo.h2" Color="Color.Primary" Class="mb-2 project-title">Random Projects</MudText>
        </MudStack>
    </MudPaper>

    <MudGrid Spacing="4" Class="pa-2 pa-md-10">
        @foreach (ProjectData project in _projects)
        {
            <MudItem xs="12" sm="6" md="4">
                <MudCard Elevation="5" Class="project-card-hover">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">@project.Name</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Href="@project.Link" Target="_blank" />
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.body2" Class="project-description">@project.Description</MudText>
                        <div class="mt-2">
                            <MudChip T="string" Size="Size.Small" Color="Color.Secondary" Variant="Variant.Text">@project.Language</MudChip>
                      
                        </div>
                    </MudCardContent>
                </MudCard>
            </MudItem> 
                

        }
    </MudGrid>

@code {

    private readonly List<ProjectData> _projects = [];

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("animateProjects");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var client = new GitHubClient(new ProductHeaderValue("MarcelSiglPortfolio"));
        var repos = await client.Repository.GetAllForUser("MarcelOwO");

        foreach (var repository in repos)
        {
            var project = new ProjectData()
            {
                Name = repository.Name,
                Link = repository.HtmlUrl,
                Language = repository.Language,
                Description = repository.Description
            };
            _projects.Add(project);
        }
        await base.OnInitializedAsync();
    }
}
